
#container{
    background-color: black;
    font-family: 'Times New Roman', Times, serif; color: white;
}
header{
    text-align: center;
}
nav ul li {
    float: left;
    list-style: none;
    margin: 20px;
    line-height: 30px;
}
nav a{
    color: blueviolet;
}
clearflix{
    clear: both;
}
#content{
    float: left;
    width: 80%;
    min-height: 1000px;
}

aside{
    float: right;
    width: 20%;
    min-height: 1000px;
}